services:
    -
        class: Tooling\Actions\PhpStan\Rules\ActionMustBeFinal
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\ActionMustDefineHandleMethod
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\ActionMustUseAsAction
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\AsActionMustImplementAction
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\ActionCannotUseDispatchable
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\ActionCannotUseQueueable
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\AsActionCannotUseSerializesModels
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Actions\PhpStan\Rules\ActionHandleCannotBeCalledDirectly
        tags:
            - phpstan.rules.rule

parameters:
    stubFiles:
        - stubs/PendingDispatch.stub
    ignoreErrors:
        # Mockery's andReturnUsing is not properly recognized by PHPStan
        -
            message: '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::andReturnUsing\(\)#'
